<h1>Signin</h1>

<br>

<div>ID: <input #ID type="text" placeholder="ID"></div>
<div>Password: <input #password type="text" placeholder="Password"></div>
<button name="signin" id="signin-button" (click)="signIn(ID.value, password.value);">Sign-in</button>

<div>ID: <input #signup_ID type="text" placeholder="ID"></div>
<div>Password: <input #signup_password type="text" placeholder="Password"></div>
<button name="signup" id="signup-button" (click)="signUp(signup_ID.value, signup_password.value);">Sign-up</button>
