<div>
  <div *ngIf="channel_exist; else channel_create" >
    <div class="header">
      <h1>선택하기</h1>
      <button style="float: right;" mat-raised-button name="signout" id="signout-button" (click)="signOut();">나가기</button>
    </div>
    <br>
    <div class="mat-app-background">
      <strong *ngIf="manager">{{ manager }}님의 방이 있습니다.</strong>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="moveToChannel(channel.id)">방으로 가기</button>
    </div>
    <br>
    <div class="mat-app-background">
      <strong>방의 QR Code를 얻습니다.</strong>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="moveToQR()">QR Code 얻기</button>
    </div>
  </div>
  <ng-template #channel_create>
    <div class="header">
      <h1>생성하기</h1>
      <button style="float: right;" mat-raised-button name="signout" id="signout-button" (click)="signOut();">나가기</button>
    </div>
    <br>
    <div class="mat-app-background">
      <strong *ngIf="manager">{{ manager }}님의 방이 없습니다.</strong>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button id="saveButton" (click)="createChannel()">생성하기</button>
      <br>
      <mat-form-field class="input"><input matInput type='text' [(ngModel)]="channel.title" placeholder="방 제목 정하기"></mat-form-field>
      <ckeditor [(ngModel)]="channel.post" [editor]="Editor" [config]="editorConfig"></ckeditor>
    </div>
  </ng-template>
</div>

<!-- <div [froalaEditor] [(froalaModel)]="description">작품과 관련된 내용을 적으면 됩니다.</div> -->
      <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <textarea [froalaEditor] formControlName="formModel" [(froalaModel)]="form.formModel"></textarea>
        <div [froalaView]="form.formModel"></div>
        <button type="submit">Submit</button>
        </form> -->

