<p>
  main works!
</p>
<div>
  <a href="/qr"> to qr </a>
</div>
<div>
  <div *ngIf="channel_exist; else go_to_channel" >
    <div>
      <button (click)="moveToChannel(channel.id)"> goto channel</button>
    </div>
  </div>
  <ng-template #go_to_channel>
    <div class="article--create">
      title <input type='text' [(ngModel)]="title" />
      <button (click)="handleGenerate()"> generate</button>
    </div>
  </ng-template>
</div>

<button name="signout" id="signout-button" (click)="signOut();">Sign-out</button>
