<h1>Main</h1>

<button name="signout" id="signout-button" (click)="signOut();">Sign-out</button>

<hr>

<div>
  <div *ngIf="channel_exist; else create_channel" >
    <div>
      <button (click)="moveToQR()">To QR Code</button>
      <br>
      <strong>There is a Channel!</strong>
      <button (click)="moveToChannel(channel.id)">Go to Channel</button>
    </div>
  </div>
  <ng-template #create_channel>
    <div class="article--create">
      <strong>There is no Channel!</strong>
      <br>
      Title:<input type='text' [(ngModel)]="title" />
      <button (click)="handleGenerate()">Create a Channel</button>
    </div>
  </ng-template>
</div>
