<div class="header">
    <h1 *ngIf="channelTitle">{{ channelTitle }}</h1>
    <button style="float: right;" mat-raised-button name="signout" id="signout-button" (click)="signOut();">나가기</button>
    <button style="float: right;" mat-raised-button (click)="goBack()">돌아가기</button>
</div>

<div class="mat-app-background">
  작품 내용: {{ channelPost }}
</div>

<br>

<div *ngIf="channelMessage" class="mat-app-background">
  <mat-form-field class="input"><input matInput [(ngModel)]="channelMessage.content" (keyup.enter)="sendMsg()" placeholder="글"/></mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-raised-button (click)="sendMsg()">남기기</button>
</div>

<br>

<div *ngFor="let channelMessage of channelMessages">
    <div class="mat-app-background">
      <div class="channelMessage_username">
        {{channelMessage.sender.username}}
        <span class="channelMessage_time">{{channelMessage.created_at}}</span>
      </div>
      <div class="channelMessage_content">{{channelMessage.content}}</div>
    </div>

    <br>
</div>
