<div class="header">
  <h1 *ngIf="channel && channel.title">{{ channel.title}}</h1>
  <button style="float: right;" mat-raised-button name="signout" id="signout-button" (click)="signOut();">나가기</button>
  <button *ngIf="managerOrNot" style="float: right;" mat-raised-button (click)="goBack()">돌아가기</button>
</div>

<h2> 포스트 </h2>
<div *ngIf="channel && channel.post" class="mat-app-background">
  <div [innerHTML]="channel.post | safe: 'html'" class="ck ck-content ck-editor__editable ck-rounded-corners ck-blurred ck-editor__editable_inline"></div>
</div>

<br>

<div *ngIf="channelMessage" class="mat-app-background">
  <mat-form-field class="input"><input matInput [(ngModel)]="channelMessage.content" (keyup.enter)="sendMsg()" placeholder="글"/></mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-raised-button (click)="sendMsg()">남기기</button>
</div>

<br>

<div *ngFor="let channelMessage of channelMessages">
    <div class="mat-app-background">
      <div class="channelMessage_username">
        {{channelMessage.sender.username}}
        <span class="channelMessage_time">{{channelMessage.getCreatedAt()}}</span>
      </div>
      <div class="channelMessage_content">{{channelMessage.content}}</div>
    </div>

    <br>
</div>
