<h1>Channel</h1>

<button (click)="signOut()">Sign-out</button>

<hr>

<div *ngIf="snippet">
  <label>Content:
    <input [(ngModel)]="snippet.content" (keyup.enter)="sendMsg()"/>
  </label>
  <button (click)="sendMsg()">Send a Message</button>
</div>

<hr>

<div *ngFor="let sp of snippets">
  <div>{{sp.user_id}}: {{sp.content}}</div>
</div>

<button (click)="signOut()">Sign-out</button>

<button (click)="moveToQR()">
  move to qr
</button>

<button (click)="goBack()">
  back
</button>

<!-- <button (click)="openDM()">Open DM</button> -->
