@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.header {
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 30px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    font-weight: 900;
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
}

.tagToButton {
    background-color: lightgray;
    color: black;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
    transform: translate3d(0,0,0);
}

/* h1 {
    background: rgb(29, 62, 170);
    padding: 10px;
    color: #fff;
}

button {
    width: max-content;
    background-color: #8fa6f1;
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
}

input {
    width: max-content;
    background-color: #ffffff;
    border: 1px solid #bcbcbc;
    color:#000;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
} */