<h1 *ngIf="channelTitle">{{ channelTitle }}</h1>

<hr>

<div>
  <!-- <input #profile_picture type="image" name="profile_picture" id="profile-input" placeholder="Profile here"> -->
  <input #profile_picture type="text" name="profile_picture" id="profile-input" placeholder="Profile here">
</div>
<div>
  <input #nickname type="text" name="nickname" id="nickname-input" placeholder="Nickname here">
</div>
<button name="access" id="access-button" (click)="access(profile_picture.value, nickname.value);">Access</button>

